<div class="row justify-content-center mx-auto">
  <div class="contentBox p-3">
    <p class="title-head my-3">New Vehicle</p>
    <form (submit)="handleSubmit()" [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-8 mb-3 mb-md-0">
          <div class="row mt-2 mb-3">
            <app-simple-input-field [required]="true" id="name" type="text" formControlName="title" svgType="vehiclename" placeholder="Vehicle Name"></app-simple-input-field>
          </div>
          <div class="row mb-3">
            <app-multiple-select-field [required]="true" id="type" formControlName="vehicle_type" [items]="vehicleTypes"></app-multiple-select-field>
          </div>
          <div class="row mb-3">
            <app-simple-input-field [required]="true" id="maxLoadLength" type="number" formControlName="max_load_length" svgType="length" placeholder="Maximum Load Length"></app-simple-input-field>
          </div>
          <div class="row mb-3">
            <app-simple-input-field [required]="true" id="maxLoadWeight" type="number" formControlName="max_load_weight" svgType="weight" placeholder="Maximum Load Weight"></app-simple-input-field>
          </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0 d-flex align-items-center">
          <div class="row justify-content-center">
            <img src="assets/svg/Truck_white.svg" class="detail-image">
          </div>
        </div>
      </div>
      <div class="row mb-3 mb-md-0">
        <app-button class="d-flex justify-content-md-end justify-content-center" buttonText="Submit" type="submit"></app-button>
      </div>
    </form>
  </div>
</div>
