@import '../../app.component.scss';

.igroup{
  background-color: $colorGrey;
  border-radius: 15px;
}

.input-field{
  color: $textWhite;
  background-color: $colorGrey;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid $colorGrey;
  width: 75%;
  font-size: 16px;
  &::-webkit-input-placeholder {
    color: $backgroundColor;
  };
  &::selection{
    background-color: $colorPurple;
    color: $textWhite;
  };
  &:focus{
    outline: none;
  }
}
