<mat-form-field style="width: 100%;" appearance="outline">
  <mat-label>{{labelText}}</mat-label>
  <input matInput [placeholder]="placeholder" [formControl]="selection" [type]="type" [readonly]="readonly">
  <mat-icon matSuffix [svgIcon]="svgIconName"></mat-icon>
  <mat-hint>{{hint}}</mat-hint>
  @if (selection.hasError('pattern')){
    <mat-error>Please insert numbers only!</mat-error>
  }
  @if (selection.hasError('required')){
    <mat-error>{{errorText}}</mat-error>
  }
  @if (selection.hasError('email')){
    <mat-error>Invalid mail address detected: {{selection.errors}}</mat-error>
  }
</mat-form-field>
