$colorOrange: #fc9c60;
$colorRed: #ea504c;
$colorPurple: #68548d;
$textWhite: #faf9f6;
$backgroundColor: #242a38;
$listItemColor: #4e5970;

.fac-list-item{
  text-align: center;
  margin: auto;
  line-height: 3em;
  background-color: $listItemColor;
}
.fac-image{
  height: 2.25em;
}
.list-group{
  background-color: $backgroundColor;
}
.text-white{
  color: $textWhite;
}
.fac-icon{
  fill: $textWhite;
  height: 1.5em;
}
