<c-footer class="p-3">
    <div class="desktop-view">
      <div class="my-auto">
        <span class="align-middle"> &copy; TaskHub 2024</span>
      </div>
      <div class="ms-auto">
        <a href="#" class="me-4">
          <span class="align-middle">Privacy</span>
        </a>
        <a href="#" class="me-4">
          <span class="align-middle">Terms</span>
        </a>
        <a href="#" class="me-4">
          <span class="align-middle">Contact</span>
        </a>
        <a href="https://github.com/stefanjb-it/taskhub-frontend" target="_blank" class="me-2">
          <img src="../../../assets/svg/GitHub.svg" width="40" height="40"/>
        </a>
      </div>
    </div>
    <div class="mobile-view justify-content-around">
      <!-- ToDo: Change crappy trash icons -->
      <a href="#">
        <!-- <svg cIcon name="cilUser" title="User Profile Icon"></svg> -->
        <svg stroke-width="0" viewBox="0 0 496 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
        </svg>
      </a>
      <a href="#">
        <!-- <svg cIcon name="cilHome" title="Home Icon"></svg> -->
        <svg stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M416 174.74V48h-80v58.45L256 32 0 272h64v208h144V320h96v160h144V272h64l-96-97.26z"></path>
        </svg>
      </a>
      <a href="#">
        <!-- <svg cIcon name="cilCheckCircle" title="Tasks Icon"></svg> -->
        <svg stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path>
        </svg>
      </a>
    </div>
</c-footer>