<c-footer>
    <div>
      <span class="align-middle"> &copy; TaskHub 2024</span>
    </div>
    <div class="ms-auto">
      <a href="https://coreui.io/pro/angular" target="_blank" class="me-4">
        <span class="align-middle">Privacy</span>
      </a>
      <a href="https://coreui.io/pro/angular" target="_blank" class="me-4">
        <span class="align-middle">Terms</span>
      </a>
      <a href="https://coreui.io/pro/angular" target="_blank" class="me-4">
        <span class="align-middle">Contact</span>
      </a>
      <a href="https://github.com/stefanjb-it/taskhub-frontend" target="_blank" class="me-2">
        <img src="../../../assets/svg/GitHub.svg" width="40" height="40"/>
      </a>
    </div>
  </c-footer>