<nav class="navbar header">
  <div class="container">
    <a *ngIf="!(userService.isLoggedIn$ | async)" class="header-text navbar-brand align-items-center justify-content-center d-flex" routerLink="">
      <img class="me-2" src="assets/svg/Truck.svg" width="44" height="44">
       TaskHub
    </a>
    <a *ngIf="userService.isLoggedIn$ | async" class="header-text navbar-brand align-items-center justify-content-center d-flex" routerLink="management">
      <img class="me-2" src="assets/svg/Truck.svg" width="44" height="44">
       TaskHub
    </a>
    <div class="ms-auto d-none d-md-flex">
      <ul class="nav">
        <li *ngIf="(userService.isLoggedIn$ | async) && userService.hasGroup(['Administrator'])" class="nav-item me-4 my-auto">
          <a class="nav-link text-color" aria-current="page" [routerLink]="'admin-overview'">Administration</a>
        </li>
        <li *ngIf="(userService.isLoggedIn$ | async) && !userService.hasGroup(['Administrator'])" class="nav-item me-4 my-auto">
          <a class="nav-link text-color" aria-current="page" [routerLink]="'/edit-user/' + userService.getUserId()">My Profile</a>
        </li>
        <li *ngIf="(userService.isLoggedIn$ | async) && userService.hasGroup(['Manager'])" class="nav-item me-4 my-auto">
          <a class="nav-link text-color" aria-current="page" [routerLink]="'/customer-order'">Workflow</a>
        </li>
        <li class="nav-item me-2 my-auto">
          <app-button *ngIf="!(userService.isLoggedIn$ | async)" [buttonText]="'Login'" [routerLink]="''"></app-button>
          <app-button *ngIf="userService.isLoggedIn$ | async" [buttonText]="'Logout'" (OnClick)="logout()"></app-button>
        </li>
      </ul>
    </div>
  </div>
</nav>
