@import '../../app.component.scss';


.header-text{
    color: $textWhite;
    font-family: 'ralewayBold', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

a{
    color: $textWhite;
    font-family: 'ralewayLight', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

@media (max-width: 767px) {
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
}

.header{
  background: rgb(36, 42, 56, 1);
  border: 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.text-color:hover{
  color: $colorOrange;
}
