<div class="row justify-content-center mx-auto">
  <div class="contentBox p-4 my-4">
    <div class="row  text-center">
      <div class="d-none col-3 d-md-flex align-items-center">
        <app-button [buttonText]="'Back'" [routerLink]="'/customer-overview'"></app-button>
      </div>
      <p *ngIf="!selection" class="col-12 col-md-6 title-head my-4">New Customer</p>
      <p *ngIf="selection" class="col-12 col-md-6 title-head my-4 text-center">Edit Customer</p>
      <div class="col-3 d-none d-md-auto"></div>
    </div>
    <form (ngSubmit)="handleSubmit()" [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-8 mb-4 mb-md-0">
          <div class="row mt-2 mb-4">
            <app-inputfield svgIconName="name" style="width: 100%" formControlName="name" [labelText]="'Name'" [placeholder]="'Name'" [type]="'text'" [required]="true"></app-inputfield>
          </div>
          <div class="row mb-4">
            <app-inputfield svgIconName="address" formControlName="address" [labelText]="'Address'" [placeholder]="'Enter address'" [type]="'text'" [required]="true"></app-inputfield>
          </div>
          <div class="row mb-4">
            <app-inputfield svgIconName="phone" formControlName="phone" [labelText]="'Phone number'" [placeholder]="'000-000-000'" [type]="'text'" [required]="true"></app-inputfield>
          </div>
          <div class="row mb-4">
            <app-selectfield [required]="false" hint="not mandatory" formControlName="is_company" [labelText]="'Is the customer a company?'" [items]="[{id:false, name:'No'}, {id:true, name:'Yes'}]"></app-selectfield>
          </div>
        </div>
        <div class="col-md-4 my-auto">
          <div class="row d-flex justify-content-center mb-4 mb-md-5">
            <svg viewBox="0 0 576 512" class="cardSvg">
              <path
                d="M24 0C10.7 0 0 10.7 0 24s10.7 24 24 24h52.1l60.3 316.5c2.2 11.3 12.1 19.5 23.6 19.5h328c13.3 0 24-10.7 24-24s-10.7-24-24-24H179.9l-9.1-48h317c14.3 0 26.9-9.5 30.8-23.3l54-192C578.3 52.3 563 32 541.8 32H122l-2.4-12.5C117.4 8.2 107.5 0 96 0H24zm152 512c26.5 0 48-21.5 48-48s-21.5-48-48-48-48 21.5-48 48 21.5 48 48 48zm336-48c0-26.5-21.5-48-48-48s-48 21.5-48 48 21.5 48 48 48 48-21.5 48-48z">
              </path>
            </svg>
          </div>
          <div class="row mb-3">
            <app-button buttonText="Submit" type="submit" class="align-items-end" [isDisabled]="!formGroup.valid"></app-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
