<div class="row justify-content-center mx-auto">
  <div class="contentBox p-3 my-4">
    <p *ngIf="!selection" class="title-head my-3">New Order</p>
    <p *ngIf="selection" class="title-head my-3">Change Order</p>
    <form (submit)="handleSubmit()" [formGroup]="formGroup">
      <div class="row">
        <div class="col-md-8 mb-3 mb-md-0">
          <div class="row mt-2 mb-4">
            <!--<app-inputfield [id]="'orderNr'" [value]="newOrder.order_nr ? newOrder.order_nr.toString() : ''" placeholder="Order Nr." (getValue)="getOrderNumber($event)" [type]="'number'"
                            [svgType]="'default'"></app-inputfield>-->
            <app-simple-input-field [required]="true" id="order_nr" formControlName="order_nr" placeholder="Order Number"></app-simple-input-field>
          </div>
          <div class="row mb-4">
            <!--<app-inputfield [id]="'title'" [value]="newOrder.title ? newOrder.title : ''" placeholder="Order Title" (getValue)="getTitle($event)" [type]="'text'"
              [svgType]="'default'"></app-inputfield>-->
            <app-simple-input-field [required]="true" id="title" formControlName="title" placeholder="Order Title"></app-simple-input-field>
          </div>
          <div class="row mb-4">
            <!--<app-selectfield [id]="'customer'" placeholder="Select Customer" (getValue)="getCustomer($event)"
              [list]="customers"></app-selectfield>-->
            <app-simple-select-field id="customer" formControlName="customer" placeholder="Customer" [items]="customers"></app-simple-select-field>
          </div>
          <div class="row mb-4">
            <!--<app-inputfield [id]="'date'"  [value]="newOrder.order_date ? newOrder.order_date : ''"  placeholder="Address" (getValue)="getDate($event)" [type]="'date'"
              [svgType]="'date'"></app-inputfield>-->
            <app-simple-input-field id="order_date" formControlName="order_date" placeholder="Order Date" [type]="'date'" [svgType]="'date'"></app-simple-input-field>
          </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-auto mt-auto">
          <div class="row justify-content-center d-flex align-items-center">
            <svg viewBox="0 0 16 16" class="cardSvg">
              <path
                d="M14.5 3a.5.5 0 01.5.5v9a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-9a.5.5 0 01.5-.5h13zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z">
              </path>
              <path
                d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm-1-5a.5.5 0 11-1 0 .5.5 0 011 0zM4 8a.5.5 0 11-1 0 .5.5 0 011 0zm0 2.5a.5.5 0 11-1 0 .5.5 0 011 0z">
              </path>
            </svg>
          </div>
        </div>
      </div>
      <div class="row mb-4 my-auto">
        <div class="col-md-8 mb-4 mb-md-0">
          <app-simple-select-field id="is_completed" formControlName="is_completed" placeholder="Status" [items]="states"></app-simple-select-field>
        </div>
        <div class="col-md-4">
          <app-button buttonText="Submit" type="submit"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>
