<div class="container-md content-wrapper">
  <app-header></app-header>
  <div class="content">
    <!-- <p>This is a test</p> -->
    <!-- <app-button [buttonText]="'Test'" (OnClick)="sendMessage($event)"></app-button>
    <br>
    <app-inputfield [id]="'username'" [placeholder]="'username'" (getValue)="sendMessage($event)" [type]="'text'" [svgType]="'name'"></app-inputfield>
    <app-selectfield [id]="'testSelect'" (getValue)="sendMessage($event)" [list]="['one', 'two', 'three']" ></app-selectfield>
     -->
    <!-- <app-vehicle-detail class="component-width"></app-vehicle-detail> -->
    <app-admin-overview class="component-width"></app-admin-overview>
    <!-- <app-customer-overview class="component-width"></app-customer-overview> -->
    <!-- <app-vehicle-overview class="component-width"></app-vehicle-overview> -->
    <!-- <app-order-overview class="component-width" class="content"></app-order-overview> -->
    <!-- <app-vehicle-detail class="component-width"></app-vehicle-detail> -->
    <!-- <app-employee-detail class="component-width"></app-employee-detail> -->
    <!-- <app-home-login></app-home-login> -->
    <!-- <app-task-detail class="component-width"></app-task-detail> -->
    <!-- <app-order-detail class="component-width"></app-order-detail> -->
    <!-- <app-customer-details class="component-width"></app-customer-details> -->
    <!-- <app-management-overview></app-management-overview> -->
    <router-outlet style="width: 100%;"></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
