<div class="container-md content-wrapper">
  <app-header></app-header>
  <div class="content">
    <!-- <p>This is a test</p> -->
    <!-- <app-button [buttonText]="'Test'" (OnClick)="sendMessage($event)"></app-button>
    <br>
    <app-inputfield [id]="'username'" [placeholder]="'username'" (getValue)="sendMessage($event)" [type]="'text'" [svgType]="'name'"></app-inputfield>
    <app-selectfield [id]="'testSelect'" (getValue)="sendMessage($event)" [list]="['one', 'two', 'three']" ></app-selectfield>
    <app-home-login style="width: 100%;" class="content"></app-home-login> -->
    <!-- <app-vehicle-detail style="width: 100%;" class="content"></app-vehicle-detail> -->
    <app-admin-overview style="width: 100%;" class="content"></app-admin-overview>
    <router-outlet style="width: 100%;"></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
