<!-- Implementation Side Structure
<form [formGroup]="FORM_GROUP_NAME">
  <app-multiple-select-field formControlName="FORM_CONTROL_NAME"></app-multiple-select-field>
</form>
-->

<!-- Implementation Side Logic
-- as property:
FORM_GROUP_NAME: FormGroup;

-- in constructor:
this.FORM_GROUP_NAME = new FormGroup({
  FORM_CONTROL_NAME: new FormControl(...),
  ...
});
this.formGroup.controls['multipleSelect'].patchValue(["1", "2"]); // here as string regardless of ID type
-->

<div class="igroup d-flex justify-content-between">
  <select multiple [id]="id" class="select-field ms-3 me-3" [formControl]="selection">
    <option *ngFor="let item of items" value="{{item.id}}">{{getName(item)}}</option>
  </select>
</div>
