@import '../../app.component.scss';

.igroup{
  background-color: $colorGrey;
  border-radius: 15px;
}

.input-field{
  color: $textWhite;
  background-color: $colorGrey;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid $colorGrey;
  width: 100%;
  font-size: 16px;
  &::-webkit-input-placeholder {
    color: $backgroundColor;
  };
  &::selection{
    background-color: coral;
    color: $textWhite;
  };
  &:focus{
    outline: none;
  }
  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $textWhite;
  background-color: $colorGrey;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px;
}
