<div class="contentBox p-3">
  <p class="title-head my-3">New Task</p>
  <div class="col">
    <div class="row">
      <div class="col-md-8 mb-3 mb-md-0">
        <div class="row mt-2 mb-3">
          <app-inputfield [id]="'name'" [value]="newTask.title" placeholder="Task Title" (getValue)="getTitle($event)" [type]="'text'" [svgType]="'task'"></app-inputfield>
        </div>
        <div class="row mb-3">
          <app-selectfield [id]="'tasktype'" placeholder="Select Tasktype" (getValue)="getTaskType($event)" [list]="taskTypes"></app-selectfield>
        </div>
        <div class="row mb-3">
          <app-selectfield [id]="'order'" placeholder="Select Order" (getValue)="getOrder($event)" [list]="orders"></app-selectfield>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="row justify-content-center d-flex align-items-center">
          <svg viewBox="0 0 16 16" class="cardSvg">
            <path fill-rule="evenodd" d="M2 2.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5V3a.5.5 0 00-.5-.5H2zM3 3H2v1h1V3z"></path><path d="M5 3.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM5.5 7a.5.5 0 000 1h9a.5.5 0 000-1h-9zm0 4a.5.5 0 000 1h9a.5.5 0 000-1h-9z"></path><path fill-rule="evenodd" d="M1.5 7a.5.5 0 01.5-.5h1a.5.5 0 01.5.5v1a.5.5 0 01-.5.5H2a.5.5 0 01-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5h1a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5H2zm1 .5H2v1h1v-1z"></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <div class="row mt-2 mb-3">
          <app-selectfield [id]="'employee'" placeholder="Select Employee" (getValue)="getEmployee($event)" [list]="employees"></app-selectfield>
        </div>
        <div class="row mb-3">
          <app-inputfield [id]="'schedFrom'" [value]="''" (getValue)="getSchedFrom($event)" [type]="'date'" [svgType]="'date'"></app-inputfield>
        </div>
        <div class="row mb-3">
          <app-inputfield [id]="'schedTo'" [value]="''" (getValue)="getSchedTo($event)" [type]="'date'" [svgType]="'date'"></app-inputfield>
        </div>
      </div>
      <div class="col-md-6 mb-3 mb-md-0">
        <div class="row mt-2 mb-3">
          <app-selectfield [id]="'vehicle'" placeholder="Select Vehicle" (getValue)="getVehicle($event)" [list]="vehicles"></app-selectfield>
        </div>
        <div class="row mb-3">
          <app-selectfield [id]="'shiftFrom'" placeholder="Select Shift" (getValue)="getShiftFrom($event)" [list]="[{id:0, title:'am'}, {id:1, title:'pm'}]"></app-selectfield>
        </div>
        <div class="row mb-3">
          <app-selectfield [id]="'shiftTo'" placeholder="Select Shift" (getValue)="getShiftTo($event)" [list]="[{id:0, title:'am'}, {id:1, title:'pm'}]"></app-selectfield>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex mb-3">
    <app-selectfield [id]="'taskStatus'" placeholder="Select Status" class="me-auto select-field" (getValue)="getTaskStatus($event)" [list]="taskstatuses"></app-selectfield>
    <!-- add Form because of Image -->
    <app-button buttonText="Upload Picture" class="me-3" (OnClick)="uploadPicture()"></app-button>
    <app-button buttonText="Submit" (OnClick)="createOrEditTask()"></app-button>
  </div>
</div>
