/* You can add global styles to this file, and also import other style files */
@import '@coreui/icons/css/all.css';
@import '@coreui/coreui/scss/coreui.scss';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

//@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";
@import "app/custom_theme.scss";

$backgroundColor: #242a38;
// inputField background color : #2f3a4b

body{
  background-color: $backgroundColor;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
