<div class="row justify-content-center mx-auto">
  <div class="contentBox p-3 my-4">
    <div class="row my-1">
      <div class="col-md-2 d-flex align-items-center justify-content-center mb-2 mb-md-0">
        <svg viewBox="0 0 16 16" class="headerSvg">
          <path
            d="M14.5 3a.5.5 0 01.5.5v9a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-9a.5.5 0 01.5-.5h13zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z">
          </path>
          <path
            d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm-1-5a.5.5 0 11-1 0 .5.5 0 011 0zM4 8a.5.5 0 11-1 0 .5.5 0 011 0zm0 2.5a.5.5 0 11-1 0 .5.5 0 011 0z">
          </path>
        </svg>
      </div>
      <div class="col-md-7 d-flex align-items-start flex-column">
        <p class="search-head mb-4 mb-md-auto">Order Overview</p>
        <form class="customSearchField mb-4 mb-md-0">
          <input class="form-control customSearch" type="search" [formControl]="filterFormControl" placeholder="Search Order" aria-label="Search">
        </form>
      </div>
      <div class="col-md-3 d-flex justify-content-center align-items-end">
        <app-button [buttonText]="'Create Order'" [routerLink]="'/create-order'"></app-button>
      </div>
    </div>
  </div>
  <div *ngIf="filteredOrders.length" class="contentBox mb-4">
    <ul class="list-group m-3 m-md-4">
      <li *ngFor="let order of filteredOrders" class="list-group-item">
        <div class="row">
          <div class="col-2 fac-list-item">
            <svg viewBox="0 0 16 16" class="fac-image icon-image">
              <path
                d="M14.5 3a.5.5 0 01.5.5v9a.5.5 0 01-.5.5h-13a.5.5 0 01-.5-.5v-9a.5.5 0 01.5-.5h13zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z">
              </path>
              <path
                d="M5 8a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7A.5.5 0 015 8zm0-2.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0 5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm-1-5a.5.5 0 11-1 0 .5.5 0 011 0zM4 8a.5.5 0 11-1 0 .5.5 0 011 0zm0 2.5a.5.5 0 11-1 0 .5.5 0 011 0z">
              </path>
            </svg>
          </div>
          <div class="col-10 col-sm-4 my-auto" style="word-wrap:break-word;">
            <a class="my-auto text-white" [routerLink]="'/edit-order/' + order.id">{{order.title}}</a>
          </div>
          <div class="col-8 col-sm-4 my-auto">
            <p *ngIf="order.is_completed" class="my-auto text-white">Completed</p>
            <p *ngIf="!order.is_completed" class="my-auto text-white">Uncompleted</p>
          </div>
          <div class="col-4 col-sm-2 fac-list-item d-flex justify-content-around justify-content-sm-evenly px-0">
            <!-- EDIT BUTTON TODO: add *ngIf="userService.hasGroup()"-->
            <a [routerLink]="'/edit-order/' + order.id">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fac-icon icon-edit">
                <path
                  d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
              </svg>
            </a>
            <!-- DELETE BUTTON TODO: add *ngIf="userService.hasGroup()" -->
            <button (click)="deleteOrder(order.id)"
              style="background: transparent; border: none !important;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="fac-icon icon-delete">
                <path
                  d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z" />
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
