<div class="d-none col-md-3 d-md-flex ps-5" style="position: fixed; top:20%;">
  <app-button class="ps-3" [buttonText]="'Back'" [routerLink]="'/edit-task/' + selection"></app-button>
</div>
<div class="row justify-content-center mx-auto">
  <div class="contentBox p-3 my-4">
    <div class="row">
      <ngb-carousel data-interval="false">
        <ng-template *ngFor="let picture of pictures" ngbSlide>
          <img class="task-picture" src={{picture}} alt="First slide">
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
